<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<img src="" class="fullWidth" id="imageContainer"/>

	<div class="fullWidth moduleMask" style="display:none">
		<div class="selectButton">选择</div>	
	</div>
	
	
	<script src="js/jquery.js"></script>
	<script src="js/app.js"></script>

</body>
</html>